html, body {
  width:  100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  text-align: center;
  background-color: #111;
  touch-action: none;
}

img{
  padding: 1em;
}

 a:link {
  color: #EEE;
}

a:visited {
  color: #EEE;
}

a:hover {
  color: #BBB;
}

a:active {
  color: #EEE;
} 

h1, h2, h3{
  color: #EEE;
  margin: 0.5em;
  font-family: 'Arial Narrow Bold', sans-serif;
}
credit{
  color: #EEE;
  font-family: 'Arial Narrow Bold', sans-serif;
}