html, body {
  width:  100%;
  height: 100%;
  margin: 0.5em 0em;
  background-color: #F0F0F0;
  touch-action: none;
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img{
  padding: 1em;
}

a:link {
  color: #111;
}

a:visited {
  color: #111;
}

a:hover {
  color: #444;
}

a:active {
  color: #111;
} 

h1, h2, h3{
  margin: 0.25em 0em;
}

.container {
  margin:  0em 5em;
}

.canvas-container {
  text-align: center;
}

.info-text {
  font-size: 120%;
}

#GUI {
  position: absolute;
  top: 0px;
  right: 0px
}